//
//	Переменные
//



$screen-sm:					38rem;
$screen-md:					51rem;
$screen-lg:					75rem;
$screen-xl:					90rem;
$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 1em;
$flexboxgrid-outer-margin: 1em;
$flexboxgrid-breakpoints:
	xs $screen-sm 36rem,
	sm $screen-md 48rem,
	md $screen-lg 55rem,
	lg $screen-xl 69rem;
$smallest: xs;
$container-inner-width:     45rem;


$brand-default:     #7d7d7d;
$brand-primary:     #3f5b2c;
$brand-success:     #a7be98;



$body-color: #ffffff;
$title-color: #262626;
$text-color: $brand-default;
$link-color: $title-color;



$font-size-base:	15px;
$line-height-base:	22 / 15;


$font-family-base: 'Lato', sans-serif;
$font-family-title: 'Playfair Display', sans-serif;


$border-color-default: $brand-success;