extend layout/_index


block variables
	- page.type = 'singular';
	- page.title = 'Пост';


block main
	.separator
	h1.text-center #{page.title}
	.preview
		img.wp-post-thumbnail
		.time( datetime="" )