extend layout/_index


block variables
	- page.type = 'singular';
	- page.title = 'Типографика';


block main
	.content
		p Sed ut perspiciatis unde omnis iste na tus error #[a( href="#" ) sit voluptatem] accusantium doloremque veritatem laudantium, totam rem aperiam, eaque iplo inventore veritatiset quasi architecto beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae/
		h1 Heading One (44)
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis” et quasi architecto beata.
		h2 Heading Two (34)
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis” et quasi architecto beata.
		h3 Heading Three (24)
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis” et quasi architecto beata.
		h4 Heading Four (20)
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis” et quasi architecto beata.
		h5 Heading Five (17)
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis” et quasi architecto beata.
		h6 Heading Six (13)
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis” et quasi architecto beata.
		hr
		h2 Text With Image
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis” et quasi architecto beata.
		.wp-block-image: figure.alignleft: img( src=src.userfiles+'figure-image-01.jpg' alt="Изображение" )
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. Totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptate accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. Totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptate accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
		.wp-block-image: figure.alignright: img( src=src.userfiles+'figure-image-01.jpg' alt="Изображение" )
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. Totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptate accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. Totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae voluptate accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
		hr
		h2 Blockquotes
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto. beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis” et quasi architecto beata
		blockquote.wp-block-quote
			p “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae!”
			cite Ashley Williams
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto. beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis” et quasi architecto beata
		blockquote.wp-block-quote.is-style-large
			p “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto beatae!”
			cite Ashley Williams
		p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque veritatem laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatiset quasi architecto. beatae voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae  illo inventore  quasi architecto beata
		hr
		h2 Table
		figure.wp-block-table
			table
				thead
					tr
						th Title One
						th Title One
						th Title One
						th Title One
				tbody
					tr
						td Title One
						td Title One
						td Title One
						td Title One
					tr
						td Title One
						td Title One
						td Title One
						td Title One
					tr
						td Title One
						td Title One
						td Title One
						td Title One
					tr
						td Title One
						td Title One
						td Title One
						td Title One