
// подвал сайта


a.custom-logo-link( href="#" )
	img.custom-logo( src=src.userfiles+'logo.png' alt=blog.name )

ul.footer__socials.socials
	li.instagram: a( href="#" ) Instagram
	li.facebook: a( href="#" ) Facebook
	li.pinterest: a( href="#" ) Pinterest

include ../parts/_subscribe