
// "соседние" посты

.nav.navigation.post-navigation( role="navigation" ).
	<h2 class="screen-reader-text">Навигация по записям</h2>
	<div class="nav-links">
		<div class="nav-previous"><a href="//wptest.ru/post8/" rel="prev"><span class="meta-nav" aria-hidden="true">Назад</span> <span class="screen-reader-text">Предыдущая запись:</span> <span class="post-title">Запись со случайным номером 81717</span></a>
		</div>
		<div class="nav-next"><a href="//wptest.ru/post10/" rel="next"><span class="meta-nav" aria-hidden="true">Далее</span> <span class="screen-reader-text">Следующая запись:</span> <span class="post-title">Привет, мир!</span></a>
		</div>
	</div>